[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pytz = "*"
pyyaml = "*"

[dev-packages]
mypy = "*"
black = "*"
isort = "*"
pylint = "*"
types-pytz = "*"
types-pyyaml = "*"

[requires]
python_version = "3.10"
