[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pytz = "*"
pyyaml = "*"
pydantic = "*"

[dev-packages]
mypy = "*"
ruff = "*"
pyright = "*"
types-pytz = "*"
types-pyyaml = "*"

[requires]
python_version = "3.12"
